.header {
  height: 98px;
  background: rgba(245, 245, 247, 0.9);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 56px;
    color: black;
  }
  &__title {
    font-size: 31px;
    font-weight: 500;
  }
  &__button {
    border-radius: 25px;
    padding: 10px 20px;
    background: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
    &:hover {
      border-color: #0054ff;
      color: #0054ff;
    }
  }
  @media (max-width: 860px) {
    &__wrapper{
      padding: 0 20px;
    }

    &__button {
      padding: 5px 10px;
      font-size: 14px;
    }
    &__button-text {
      display: none;
    }
  }
}

.content {
  max-width: 1200px;
  padding: 56px;
  margin: 0 auto;
}
.card {
  /*margin-top: 56px;*/
}
.card-title {
  font-size: 39px;
  max-width: 700px;
}

@media (max-width: 800px) {
  .card-title {
    font-size: 26px;
  }
  .content {
    padding: 20px;
  }
}
